header {
    padding: 15%;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 20px;
    text-align: center;
    color: #00ccff;
    font-family: verdana, Arial, sand serif;
    border: 3px Pewter;
    border-width: 6px;
    background-color: #C0C0C0;
    border-radius: 2px;
}
