html{
	background-color: #D3D3D3;
}
/*mobile format*/

head, h1, h2, body, main{
	color: #5c38ab;
	font-family: 'Almarai', sans-serif;
	font-style: oblique;
}
header{
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 35px;
	text-align: center;
	color: #5c38ab;
	font-family: 'Almarai', sans-serif;
	border: 2px ridge #000;
	border-width: 10px;
	background-color: #D3D3D3;
	border-radius: 5px;
}
h1{
	font-size: 25px;
}
nav{
	
	text-align: center;
	color: #5c38ab;
	font-family: 'Almarai', sans-serif;
	
}
nav ul{
	
	list-style-type: none;
	margin: 0;
	text-align: left;
}
nav li{
	padding-top: 5px;
	padding-bottom: 5px;
	border: 2px ridge #000;
	border-width: 5px;
	background-color: #D3D3D3;
	display: inline-block;
	font-size: 1.25em;
	font-family: 'Almarai', sans-serif;
	font-weight: normal;
	box-shadow: 5px 5px 5px #000;
	border-radius: 10px;
}
nav li a{
	display: block;
	color: #5c38ab;
	padding: 8px;
	text-decoration: none;
}
nav li a:hover{
	color: #fff;
}
a{
	text-decoration: none;
	color: #fff;
}
#project ul{
	list-style-type: none;
	margin: 0;
	text-align: left;
}
#project li{
	display: inline-block;
	font-size:1.25em;
	font-family: monospace, Arial, sans-serif;
	font-weight: bold;
}
#project li a{
	display: block;
	color: #5c38ab;
	text-align: left;
	padding: .5em 1em;
	text-decoration: none;
}
.intro{
	text-align: center;
}
.about-text section{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;
	margin: 2%;
	padding: 4%;
	box-shadow: 5px 5px 12px #5c38ab;
}
.about-titles{
	text-align: center;
}
/*desktop format*/
/*@media screen and (min-width: 1015px), print{*/
	h1{
		font-size: 70px;
	}
	caption{
        font-size: 1.5em;
        font-weight: bold;
        padding: 1%;
	color: #036bfc;
}
table{
		border: 3px solid #000;
		border-collapse: collapse;
		margin: 0 auto;
		width: 70%;
		height: 150px;
		color: #000;
	}
th, td{
		border: 2px solid #fff;
	}
	th{
		background-color: #000;
		font-size: 1em;
	}
